@page "/login"

<h3>Login</h3>
<hr />

@FullName

<EditForm Model=@loginModel OnValidSubmit=@HandleSubmit>
	<DataAnnotationsValidator />

    <div class="form-group row mb-3">
        <label for="email" class="col-md-2 col-form-label">Email</label>
        <div class="col-md-5">
            <InputText type="email" id="email" class="form-control" @bind-Value="loginModel!.Email" />
            <ValidationMessage For="@(() => loginModel.Email)" />
        </div>
    </div>

    <div class="form-group row mb-4">
        <label for="password" class="col-md-2 col-form-label">Password</label>
        <div class="col-md-5">
            <InputText type="password" id="password" class="form-control" @bind-Value="loginModel!.Password" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 ml-4">
            <button class="btn btn-primary" type="submit">Login</button>
            <button class="btn btn-secondary" type="button" @onclick="()=>Return()">Cancel</button>
        </div>
    </div>

</EditForm>


